{% extends "shop/base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'shop/css/styles.css' %}">
</head>
<div class="color">
    <div class="row">
        <div class="container">
        <div class="col-md-12">
            <h2>{% if category %}{{ category.name }}{% else %}書櫃{% endif %}</h2>
            <div class="row">
                {% for product in products %}
                    <div >
                        <div class="thumb">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="{{ product.name }}">
                            </a>
                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                            ${{ product.price }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
